.pkp_site_name {padding-top: 0px; padding-bottom: 0px}
.pkp_site_name_wrapper {padding-left: 0; padding-right: 0}
.pkp_site_name .is_img img {max-height: 120px}

/* Menu Atas */
.pkp_navigation_primary_wrapper {background-color: #4862b2}
.pkp_navigation_primary_row {background: #4862b2}
#navigationPrimary a {color: #FFFFFF}

/* Warna Hover Menu Atas */
.pkp_nav_list ul a:hover, .pkp_nav_list ul a:focus {background: #0062B3}
.pkp_navigation_search_wrapper a {color: #FFF}
.pkp_navigation_search_wrapper a:hover {color: #FFF}
.pkp_head_wrapper{
	width: auto !important;
}

.sidemenu-head{
  background-color: #4862b2 !important;
  display: block !important;
  padding: 5px !important;
  text-align: center !important;
  color: #FFF !important;
  text-decoration: none;
  border-radius: 5px !important;
  box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1);
}

/* ------------------------------------------------------- */

.pkp_block {
    /* padding: 30px 20px; */
    font-size: 14px;
    line-height: 20px;
}

.pkp_block {
    font-size: 14px;
    line-height: 20px;
    clear: both;
    border-bottom: 1.5px solid #ddd;
}

/* SUBMISSION BUTTON */

a.block_make_submission_link{
	margin: auto;
	padding: 7px;
	width: 100%;
	height: 40px;
	text-align: center;
	border-radius: 5% / 25%;
	font-size:14px;
	color: #fff;
	background: #4862b2
}
a.block_make_submission_link:hover {background: #4862b2; color: #000000	}


/* ------------------------------------------------------- */

.pkp_block .title {
    display: block;
    margin-bottom: 10px;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.pkp_block .title {
    display: inline-block;
    padding-bottom: 0em;
    border-bottom: 3px solid #ff8000;
    font-weight: 600;
    text-transform: capitalize;
}


/* Settingan Bawah */

.pkp_structure_footer_wrapper {
	background: rgba(0, 0, 0, 0.05);
	border-top: 1px solid #ddd;
	border-bottom: 20px solid var(--main);
}

.pkp_footer_content {
  float: left;
  width: 74%;
  clear: both;
  padding: 30px;
  text-align: left
}

.pkp_brand_footer {
  float: right;
  width: 26%;
  padding: 50px;
}

/* .pkp_structure_footer_wrapper {
	background:  #0062B3;
	border-bottom: 0px solid;
} */




/* ------------------------------------------------------- */
.actionBtn3 {
	display:block;
	width:230px;
	height:40px;
	margin:center;
	padding: 5px;
	text-align:center;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}
.actionBtn3 .front,.actionBtn3 .back {
	position:absolute;
	display:block;
	width:230px;
	 height:40px;
	margin:center;
	padding: 6px;
	 border:2px solid #4862b2;
	 border-radius:5px;
	transition:all .5s;
	-webkit-transition:-webkit-transform .5s;
	-moz-transition:-moz-transform .5s;
	color:#fff;
	 font-size:14px;
	 font-family:tahoma;
	 text-decoration:none;
	 text-transform:Capitalize each word;
}
.actionBtn3 .front {
	background-color:#4862b2;
	transform:translateZ(19px);
	-webkit-transform:translateZ(19px);
	-moz-transform:translateZ(19px);
}
/*
.actionBtn3 .back {
	background-color:#2B3A55;
	color:#fff;
	transform:rotateX(-90deg) translateZ(19px);
	-webkit-transform:rotateX(-90deg) translateZ(19px);
	-moz-transform:rotateX(-90deg) translateZ(19px);
}
.actionBtn3:hover {
	transform:rotateX(90deg);
	-webkit-transform:rotateX(90deg);
	-moz-transform:rotateX(90deg);
}
*/
.actionBtn3 .back {
	background-color:#f08000;
	color:#000;
	transform:rotateY(-90deg) translateZ(19px);
	-webkit-transform:rotateY(-90deg) translateZ(19px);
	-moz-transform:rotateY(-90deg) translateZ(19px);
}
.actionBtn3:hover {
	transform:rotateY(90deg);
	-webkit-transform:rotateY(90deg);
	-moz-transform:rotateY(90deg);
}

/* ------------------------------------------------------- */